/**
 * Homepage
 */

#main {
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: $strong-orange-color;
  @include media-query($on-palm) {
    min-height: calc(100vh - 40px);
  }
}

.home-content {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
}

.home-container {
  display: -webkit-flex;
  display: flex;

  @include media-query($on-palm) {
    display: block;
  }
}

.main-title {
  margin-left: 300px;
  font-size: 10rem;
  font-weight: bold;

  @include media-query($on-palm) {
    margin-left: 40px;
    font-size: 7rem;
  }
}

.intro {
    width: $full-width;
    padding-bottom: 25px;
    margin-top: 70px;
    margin-left: 40px;

    > .inside-image {
      width: $full-width;
    }

  @include media-query($on-palm) {
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: 100px;

    > .inside-image {
      width: $full-width;
    }
  }
}

.full-display {
  @include media-query($on-palm) {
    display: none;
  }
}

.mobile-display {
  display: none;
  @include media-query($on-palm) {
    display: block;
  }
}

.explanation {
    font-size: 28px;
    text-align: left;
    margin-left: 300px;

  @include media-query($on-palm) {
    font-size: 8px;
    margin-bottom: 10px;
    margin-left: 20px;
  }
}
